@import "tailwindcss";

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  .text-shadow-lg {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}
